<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <br>
  <h2>Activities List</h2>
  <br>
  <div class="list-group">
    <a href="zumba" class="list-group-item list-group-item-action">Zumba</a>
    <a href="joga" class="list-group-item list-group-item-action">Joga</a>
    <a href="cross" class="list-group-item list-group-item-action">Cross Fit</a>
    <a href="mama" class="list-group-item list-group-item-action">Fit Mama</a>
    <a href="abt" class="list-group-item list-group-item-action">ABT</a>
  </div>
  </div>

  <router-outlet></router-outlet>