<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="main">

<h1>NASZE PROPOZYCJE</h1>
<hr>

<h2>Wybierz coś dla siebie!</h2>


<div class="row">
  <div class="column">
    <div class="content">
      <img src="/assets/mama2.jpg" alt="mama"   style="width:100%">
      <h3>FIT MAMA</h3>
      <p>Zajęcia dedykowane wszystkim Mamom, które chcą aktywnie spędzać czas ze swoją pociechą. Podczas zajęć dzieci są cały czas obecne na sali ćwiczeń – ćwiczenia wykonujemy wspólnie, budując świadomość własnego ciała, wzmacniając wszystkie partie mięśniowe, a przy okazji spalając tkankę tłuszczową. Zajęcia przeznaczone dla mam z dziećmi do 1,5 roku życia.</p>
    
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/cross2.jpg" alt="cross" style="width:100%">
      <h3>CROSS FIT</h3>
      <p>Crossfit to plan treningowy będący alternatywą dla monotonnych ćwiczeń na siłowni. Wykonywane ćwiczenia angażują całe ciało, ze szczególnym zaakcentowaniem pośladków, ud, mięśni brzucha. Crossfit daje szybkie efekty w postaci wymarzonej sylwetki, lecz wymaga od trenującego nie lada determinacji w dążeniu do tego celu.<br><br></p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/zumba2.jpg" alt="abt"style="width:100%">
      <h3>ZUMBA</h3>
      <p>jest bardzo innowacyjnym systemem fitness, który poprzez świetną zabawę kształtuje naszą sylwetkę, dba o naszą kondycję, a przede wszystkim napawa nas optymizmem i wprawia w świetne samopoczucie, które zostaje na długo po zajęciach. Proste kroki taneczne, świetne kombinacje ruchów i motywująca muzyka stwarza atmosferę świetnej zabawy.<br><br></p>
    </div>
</div>
  <div class="column">
    <div class="content">
    <img src="/assets/abt2.jpg" alt="zumba" style="width:100%">
      <h3>ABT</h3>
      <p>to intensywne ćwiczenia ogólnorozwojowe, które spalają tkankę tłuszczową, poprawiają kondycję fizyczną, wzmacniają i ujędrniają wszystkie grupy mięśniowe. ABT Jest idealną formą aktywności dla osób chcących spalić tkankę tłuszczową, optymalnie nakręcając nasz metabolizm.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/joga2.jpg" alt="zumba" style="width:100%">
      <h3>JOGA</h3>
      <p>Praktyka ta opiera się na ćwiczeniu asan, czyli pozycji jogi, które działają na ciało w czterech płaszczyznach: ucisku, rozciągania, wzmacniania i relaksu, których celem jest uelastycznienie, wzmocnienie i oczyszczenie ciała, a także uspokojenie umysłu i osiągniecie wewnętrznej harmonii.</p>
    </div>
  </div>

  <div class="column">
    <div class="content">
      <h3>ZAPISZ SIĘ TERAZ! </h3>
      <a routerLink="/enrol" class="btn btn-warning" routerLinkActive="active">Zapisy na super zajęcia</a>
    </div>
    </div>


</div>


</div>

</body>
</html>
