<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="main">

<h1>NASI TRENERZY</h1>
<hr>

<h2>Poznajcie się!</h2>


<div class="row">
  <div class="column">
    <div class="content">
      <img src="/assets/MAMA.jpg" alt="mama"  width="220" height="240">
      <h3>Joanna Zwinna</h3>
      <p>Asia prowadzi u nas zajęcia dla super mam. Sama jest mamą na pełen etat. Uwielbia gotować i grać na ukulele.  <br><br><br><br><br></p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/CROSS.jpg" alt="cross" width="220" height="240">
      <h3>Jakub Mężny</h3>
      <p>Jakub to człowiek z żelaza. Jest konsekwenty i ambitny, nigdy nie odpuszcza, ani sobie ani swoim podopiecznym. Swoją postawą budzi postrach w ciemnych uliczkach, ale tak naprawdę, to muchy by nie skrzywdził.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/ABT.jpg" alt="abt" width="220" height="240">
      <h3>Stanisław Silny</h3>
      <p>Stanisław to oaza spokoju. Bardzo przykłada się do prowadzonych zajęć i chetnie dzieli się swoją ogromną wiedzą i doświadczeniem ze swoimi podopiecznymi. Szuka żony.<br><br></p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/assets/ZUMBA.jpg" alt="zumba" width="220" height="240">
      <h3>Aneta Radosna</h3>
      <p>Aneta jest wulkanem energii. Nigdy nie może stać w miejscu i się zatrzymać. Podobno, ktoś widział jak leży na kanapie, ale to tylko pogłoski. <br><br><br></p>
    </div>
  </div>


</div>


</div>

</body>
</html>
